/.idea/
/lsp/
/src/Nimflatbuffers/flatn/codegen/cppEffort/
/src/Nimflatbuffers/flatn/codegen/outdated/
/src/Nimflatbuffers/nimflatbuffers/tests/
/tests/Monster.exe
/tests/monster/Monster.exe
/tests/test1/test1.exe
/tests/test2/test2.exe